<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" ng-app="timetrackerApp">
  <head>
    <meta charset="utf-8">
    <!-- If you delete this meta tag World War Z will become a reality -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!-- If you are using the CSS version, only link these 2 files, you may add app.css to use for your overrides if you like -->
    <link rel="stylesheet" href="./bower_components/foundation/css/foundation.min.css">
    <link rel="stylesheet" href="./bower_components/foundation/css/normalize.css">
    <link rel="stylesheet" href="./bower_components/foundation-icon-fonts/foundation-icons.css">
    <!-- If you are using the gem version, you need this only -->
    <link rel="stylesheet" href="css/style.css">
    <script src="./bower_components/foundation/js/vendor/modernizr.js"></script>
  </head>
  <body ng-controller="TasklistCtrl">
    <div class="row">
      <div class="small-12 columns">
        <h1><i class="fi fi-clock primary"></i> Timetracker </h1>
        <hr/>
      </div>
      <div class="small-12 columns" >
        <form>
          <div class="row">
            <div class="small-12 medium-6 large-6 columns">
              <div class="row collapse">
                <div class="small-2 medium-2 large-1 columns">
                  <span class="prefix"><i class="fi fi-flag"></i></span>
                </div>
                <div class="small-10 medium-10 large-11 columns">
                  <input type="text" ng-model="task.title" placeholder="What task are you planning to track ?" >
                </div>
              </div>
            </div>
            <div class="small-12 medium-6 large-3 columns">
              <div class="row collapse">
                <div class="small-2 columns">
                  <span class="prefix"><i class="fi fi-lightbulb"></i></span>
                </div>
                <div class="small-10 columns">
                  <input type="text" ng-model="task.project.name" placeholder="On which project ?">
                </div>
              </div>
            </div>
            <div class="small-12 medium-6 large-2 columns">
              <div class="row collapse">
                <div class="small-2 medium-2 large-4 columns">
                  <span class="prefix"><i class="fi fi-euro"></i> / <i class="fi fi-clock"></i></span>
                </div>
                <div class="small-10 medium-10 large-8 columns">
                  <input type="text" placeholder="How much do you earn per hour ?" ng-model="task.price">
                </div>
              </div>
            </div>
            <div class="small-12 medium-6 large-1 columns">
              <select ng-model="task.project.color">
                <option class="label blue round">blue</option>
                <option class="label gray round">gray</option>
                <option class="label purple round">purple</option>
                <option class="label red round">red</option>
                <option class="label green round">green</option>
                <option class="label warning round">warning</option>
                <option class="label info round">info</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <div class="show-for-small-only">
                <br>
              </div>
              <button ng-hide="isStarted" ng-click="start()" type="submit" class="button success right"><i class="fi fi-play"></i> Start</button>
              <button ng-show="isStarted" ng-click="stop()" type="submit" class="button alert right"><i class="fi fi-stop"></i> Stop</button>
            </div>
          </div>
        </form>
        <ul class="no-bullet">
          <li ng-repeat="task in tasks">
            <div class="row">
              <h5 class="small-8 columns">{{ task.title }}
              <label class="label {{task.project.color}}"><strong>{{ task.project.name|uppercase }}</strong></label>
              <small>{{ task.started_at|date:'medium' }} - {{ task.ended_at|date:'medium' }}</small>
              </h5>
              <div class="small-2 columns"><i class="fi fi-euro"></i> / <i class="fi fi-clock"></i> {{ task.price|number:2 }}</div>
              <div class="small-1 columns">
                <div data-timer></div>
              </div>
              <div class="small-1 columns"><div data-cost></div></div>
            </div>
          </li>
        </ul>
      </div>
      <div class="small-12 columns">
        <hr/>
        <div class="small-4 small-offset-8 medium-2 medium-offset-10 large-2 large-offset-10 columns"><div data-total></div></div>
      </div>
    </div>
    
    <script src="./bower_components/foundation/js/vendor/jquery.js"></script>
    <script src="./bower_components/foundation/js/foundation.min.js"></script>
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/script.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/filters.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>