.label.red {
  background: red;
}

.label.green {
  background: green;
}

.label.blue {
  background: blue;
}

.label.gray {
  background: gray;
}

.label.purple {
  background: purple;
}

.price {
  font-family: "Open Sans",Arial,sans-serif;
}